spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        show_sql: true
    hibernate:
      ddl-auto: update
server:
  port: 8001

security:
  jwt:
    secret-key: ${JWT_SECRET}
    access-token-expiration: 3600000
    refresh-token-expiration: 604800000
    issuer: "https://student.system.uz"
minio:
  url: ${MINIO_URL}
  access-key: ${MINIO_USERNAME}
  secret-key: ${MINIO_PASSWORD}
  bucket: ${MINIO_BUCKET}

#    prod da false bolish kk test uchun true
springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true